extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
    main.container
      .calender
        .about
        .logo
    footer
      small &copy2018 Mio Tagami