extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  // main view
  section.gareley
    canvas.gareley-view.js-gareley
    .gareley-modal
      .modal-wrapper
        .modal-image
          h1.image-day
          h2.image-brandname 
        .modal-description
          h1.desctiption-day
          h2.description-brandname
          p.description-text
        button.modal-close.js-backtolist Back To List
  
  // about modal
  section.about
    .about-logo
      h1.logo-main: span Inktober 2019
      h2.logo-sub Created by MIO
    .about-text
      p.text-en This text is dummy.This text is dummy.This text is dummy.This text is dummy.This text is dummy.This text is dummy.This text is dummy.This text is dummy.
      p.text-ja ここに説明文的テキストを入れます。ここに説明文的テキストを入れます。ここに説明文的テキストを入れます。ここに説明文的テキストを入れます。
    .about-credit
      h2.credit-name Creator
      p.credit-name MIO
      p.credit-occupation Illustration, Web Design, Frontend
    button.about-totop.js-backtotop Back To Top

  // loading / menu
  section.menu
    .menu-mainmenu
      h1.mainmenu-logo: span Inktober 2019
      h2.mainmenu-sub Created by MIO
      .mainmenu-list
        .list-item: button.mainmenu-explore.js-about Explore
        .list-item: button.mainmenu-explore.js-about About
    button.menu-bargurmenu
      .bargurmenu-logo
      p.bargurmenu-text Menu
    .menu-modalmenu
      .modalmenu-list
        .list-item: button.mainmenu-explore.js-about Explore
        .list-item: button.mainmenu-explore.js-about About
      .modalmenu-share
        h2.share-title Share This Site
        .share-list
          .list-item: a(href='' target='_blank') Facebook
          .list-item: a(href='' target='_blank') Twitter
      small.modalmenu-copy All Rights Reserved.
      button.modalmenu-close.js-modalclose Close
    .menu-loading
      p.loading-count
      p.loading-text Loading
  

